$font-color_default:#777;
$font-color_date: #e37b89;
$color-corp: #e3a8b1;
$font-color_sub1: #b6a489;

$site-width: 980px;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;

$font-family_corp: 'Amatic SC', cursive;


$breakpoints: (
  'sm': 'screen and (max-width: 414px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;


@mixin mq($breakpoint: sm) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
}
html, body {
    width: 100%;
    color: $font-color_default;
    font-size: $font-size_default;
    line-height: 1.6;
    text-size-adjust: 100%;
    letter-spacing: 0.1em;
}

p, a {
    -webkit-font-smoothing: antialiased;
}

a{
    color: $font-color_default;
    text-decoration: none;
    transition: .3s;
}
a:hover {
    color: $color_corp;
    transition: .3s;
}
img {
    width: 100%;
    vertical-align: bottom;
}

.header {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    color: $font-color_default;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: $space_xl;
    padding-right: $space_xl;
    position: fixed;
    transition: .3s;
    z-index: 2;
    &.float-active {
        transition: .3s;
        background: rgba(255, 255, 255, 0.9);
    }
    @include mq() {
        height: 60px;
        padding-right: $space_l;
        padding-left: $space_l;
    }
    .title {
        font-size: $font-size_xxl;
        font-family: $font-family_corp;
        font-weight: bold;
    }
}
.menu {
    display: flex;
    align-items: center;
    font-size: $font-size_xl;
    font-family: $font-family_corp;
    &-item {
        margin-right: $space_xl;
    }
    &-link {
        -webkit-font-smoothing: initial;
    }
    @include mq() {
        display: block;
        font-size: $font-size_xxl;
        &-item {
            margin-right: initial;
        }
        &-link {
            -webkit-font-smoothing: initial;
            display: block;
            padding: $space_l;
            text-align: center;
        }
    }

}
.menu-trigger {
    display: none;
    @include mq(){
        display: inline-block;
    }
    transition: all .4s;
    box-sizing: border-box;
    position: relative;
    width: 40px;
    height: 32px;
    z-index: 3;
    span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $font-color_default;
        border-radius: 4px;
        &:nth-of-type(1) {
            top: 0;
        }
        &:nth-of-type(2) {

        }
    }
}

.hero {
    background-image: url('../images/hero.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-title {
        font-size: 60px;
        font-family: $font-family_corp;
        color: #fff;
        text-shadow: 0 0 20px rgba(227, 123, 137, 4), 0 0 50px rgba(0, 0, 0, 8);
        @include mq() {
            text-align: center;
        }
    }
    br {
        display: none;
        @include mq(){
            display: block;
        }
    }
}
.panel {
box-sizing: border-box;
background: #fff;
position: relative;
transition: .5s;
&-hover {
    display: inline-block;
    transition: .5s;
    &:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: .5s;
    }
}
&-border {
    border-radius: 5px;
    border: 5px solid #f6f5f4;
}
&-head, &-foot {
    padding: $space_m;
}
&-head {
    text-align: center;
    color: $color_corp;
}
&-active {
    border: 5px solid $color_corp;
}
&-badge {
    background: #e37b89;
    color: #fff;
    position: absolute;
    top: -20px;
    right: -20px;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 1.3em;
    padding: 15px 0;
    box-sizing: border-box;
    font-size: $font-size_s;
    transform: rotate(15deg);
    @include mq() {
    top: -20px;
    right: -13px;
    }
}
&-group {
    margin-right: -$space_l;
    &-float {
    overflow: hidden;
    }
    &-flex {
    display: flex;
    flex-wrap: wrap;
    }
    .panel {
    float: left;
    margin-right: $space_l;
    margin-bottom: $space_l;
    box-sizing: border-box;
    }
}
&-staff {
    width: calc(25% - #{$space_l});
    @include mq() {
    width: calc(50% - #{$space_l});
    }
}
&-cource {
    width: calc(33.3% - #{$space_l});
    @include mq() {
    width: 100%;
    margin: 0 auto $space_l auto;
    }
}
}

// ==================================
// form
// ==================================
